/* Importação da Fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Estilos Gerais e Reset */
:root {
    --color-blue-bannerescuro:: var(--Colors-blue600, #63B3C9);
    --color-blue-fundo: var(--Colors-blue200, #E2F5FA);
    --color-blue-bannersclaro: var(--Colors-blue400, #89C5D5);
    --color-white: var(--Colors-white, #F8F8FF);
    --color-text:var(--Colors-blue1100, #063643);

}

* {

}

body {
background-color: var(--color-blue-fundo);
}

h2, h3 {

}

section {

}

/* Cabeçalho */
#main-header {
width: 1920;
height: 140;
border-width: 1px;

opacity: 1;

}

.logo-menu {

}

#logo-img {

}

#logo-text {

}

#main-nav a {

}

#main-nav a:hover {

}

/* Seção Banner Central */
#banner-central {
width: 1180px;
height: 450px;
opacity: 1;
top: 160px;
left: 370px;
border-radius: 8px;
border-width: 1px;
background: var(--Colors-white, rgba(248, 248, 255, 1));
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
border: 1px solid rgba(0, 0, 0, 0.15)
}

#banner-content-main {
  margin: 40px;
  width: 420px;
  height: 84px;
  opacity: 1;
  top: 48px;
  left: 80px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
  letter-spacing: 2px;
}

#banner-title {
width: 420;
height: 84;
top: 48px;
left: 80px;
opacity: 1;
color: var(--color-text);

}

#banner-contact-button {
width: 200px;
height: 72px;
opacity: 1;
top: 202px;
left: 80px;
border-radius: 8px;
padding-top: 10px;
padding-right: 5px;
padding-bottom: 10px;
padding-left: 5px;
gap: 10px;
background: var(--Colors-blue1000, rgba(15, 99, 122, 1));
color: white;
}

#banner-contact-button:hover {
box-sizing: content-box;
width: 200px;
height: 72px;
}

#banner-pets-img {
position: absolute;
object-fit: cover;
width: 717px;
height: 260px;
opacity: 1;
top: 280px;
left: 500px;

}

/* Seção Banner Campanha */
#banner {
margin: 50px;
width: 1094.181884765625px;
height: 300px;
opacity: 1;
left: 42.91px;
border-radius: 8px;
background: rgba(107, 183, 203, 1);
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.vacina-campanha {
width: 311px;
height: 30px;
opacity: 1;
top: 78px;
left: 510px;
font-family: Poppins;
font-weight: 500;
font-style: Medium;
font-size: 20px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 2%;
color: rgba(15, 99, 122, 1);
}

#vaccine-title {
width: 378px;
height: 42px;
opacity: 1;
top: 24px;
left: 502px;
font-family: Poppins;
font-weight: 700;
font-style: Bold;
font-size: 28px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 2%;
color : rgba(6, 54, 67, 1);
}

#vaccine-date {

}

#vaccine-button {
width: 283px;
height: 72px;
angle: 0deg;
opacity: 1;
top: 159px;
left: 553px;
border-radius: 4px;
padding-top: 10px;
padding-right: 5px;
padding-bottom: 10px;
padding-left: 5px;
gap: 10px;
background: var(--Colors-white, rgba(248, 248, 255, 1));
}

#vaccine-button:hover {
width: 161px;
height: 42px;
opacity: 1;
font-family: Poppins;
font-weight: 700;
font-style: Bold;
font-size: 28px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
}

/* Ícones decorativos */
#icon-paw1 {
width: 99.99999982731573px;
height: 96.28906233372393px;
angle: 33.15deg;
opacity: 1;
top: 12px;
left: 20px;

}

#icon-paw2 {

}

#icon-syringe {

}

#icon-cat {
position: absolute;
object-fit: cover;
width: 120px;
height: 195.66879272460938px;
opacity: 1;
top: 700px;
left: 863px;
}

/* Seção Quem Somos */
#quem-somos {
width: 1920px;
height: 300px;
angle: 0 deg;
opacity: 1;
top: 1002px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
background: var(--Colors-blue400, rgba(137, 197, 213, 1));
}

#about-us-logo {
position: absolute;
object-fit: cover;
width: 100px;
height: 100px;
angle: 0 deg;
opacity: 1;
left: 300px;
top: 1050px;

}

#about-us-title {
position: absolute;
width: 177px;
height: 36px;
angle: 0deg;
opacity: 1;
top: 970px;
left: 500px;
}

#about-us-text {
position: absolute;
width: 699px;
height: 104px;
angle: 0deg;
opacity: 1;
top: 1060px;
left: 500px;

}

/* Seção Serviços */
#servicos {
width: 1920px;
height: 300px;
angle: 0deg;
opacity: 1;
top: 1302px;
background: var(--Colors-blue600, rgba(99, 179, 201, 1));

}

#services-title {
width: 199px;
height: 29px;
angle: 0 deg;
opacity: 1;
top: 53px;
left: 450px;
font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 24px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: rgba(6, 54, 67, 1);

}

#services-list {

}

.servico {

}

.servico img {

}

.servico p {

}

/* Seção Equipe */
#equipe {

}

#team-title {

}

#team-list {

}

.medico {

}

.medico img {

}

.medico span {

}

.medico small {

}

/* Seção Avaliações */
#avaliacoes {

}

#reviews-title {

}

.avaliacao {

}

.avaliacao img {

}

.avaliacao span {

}

.estrelas {

}

/* Seção Contato */
#contato {

}

#contact-title {

}

#contact-container {

}

#contact-info {

}

#contact-info h4 {

}

#contact-info p {

}

#contact-map-img {

}

#contact-social {

}

#contact-social span {

}

#contact-form {

}

#contact-form input,
#contact-form textarea {

}

#contact-form textarea {

}

#form-submit-button {

}

#form-submit-button:hover {

}

/* Rodapé */
#main-footer {

}

#footer-container {

}

#footer-logo-container {

}

#footer-logo-img {

}

#footer-logo-text {

}

#footer-links-container {

}

#footer-links-container h4 {

}

#footer-links-container a,
#footer-links-container span {

}

#footer-links-container a:hover {

}

#footer-copyright {

}